body {
	font-size: 14px;
}


.all-clear-text {
	text-align: center;
	padding: 100px 0;
	font-size: 24px;
	font-weight: 500;

	span  {
		display: block;
		margin-top: 10px;
		font-size: 14px;
		font-weight: 300;
	}
}

.survey-response {
	p {
		font-weight:700;
		span {
			display: block;
			margin-top: 5px;
			font-weight: 400;
		}
	}
}