/* Style for our header texts
	* --------------------------------------- */
	body {
		font-family: 'Lato', sans-serif;
	}

	h1{
		font-size: 5em;
		font-family: 'Lato', sans-serif;
		color: #fff;
		margin:0;
		padding:0;
		font-weight: 400;
		text-transform: uppercase;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 40px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../img/bg-1.png);
	}
	.jumbotext{
		// top: 50%;
		// transform: translateY(-50%);
		// position: relative;
		text-align: center;
		margin: 0 auto;
		max-width: 1440px;
		padding: 0 20px;

		a {
			text-decoration: none !important;
		}
	}
	.jumbotext h1 {
		text-shadow: 0 2px 4px rgba(0,0,0,0.50);
		margin-bottom: 50px;
	}

	.jumbotext span {
		text-transform: uppercase;
		color: #fff;
		font-size: 24px;
		font-weight: 300;
		display: block;
		margin-bottom: 30px;

	}

	.jumbotext button {
		box-shadow: 0 2px 4px rgba(0,0,0,0.50);
		max-width: 250px;
		padding: 15px;
		text-align: center;
		display: block;
		border: none;
		background: #fff;
		border-radius: 4px;
		width: 100%;
		font-size: 16px;
		text-transform: uppercase;
		color: #000;
		margin: 0 auto;
		outline: none;
	}
	#section2, #section1{
		background-image: url(../img/bg-2.png);
		/*padding: 6% 0 0 0;*/
	}
	#section3{
		background-image: url(../img/bg-3.png);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}


	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background: transparent;
		padding: 6% 0 0 0;
	}
	#slide2{
		background: transparent;
		padding: 6% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	.links {
		
		width: 100%;
		position: absolute;
		max-width: 1440px;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding: 0 20px;
		bottom:0;
		left:0;
		right:0;
		margin-bottom: 50px;

	}

	.links a {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 300;
		margin-right: 30px;
	}

	.section-content {
		padding: 0 20px;
		padding-top: 250px;
		max-width:1140px;
		width: 100%;
		margin: 0 auto;

		h2 {
			font-size: 36px;
			color: #fff;
			font-weight: 300;
			text-transform: uppercase;
		}
	}

	.fp-controlArrow { display: none;}

.book-easy {
	margin-bottom: 100px;
	font-size: 18px;
	color: #EDBC55;
	margin-top: 40px;
	font-weight: 300;
}

.card {
	background: #fff;
	padding: 20px;
	margin-bottom: 50px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 3px;

	img {
		margin-top: -60px;
		margin-bottom: 20px
	}

	p {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 00;
		span {
			display: block;
			font-size: 14px;
			text-transform: none;
			margin-top: 10px;
			font-weight: 300;
			color: #545454;
			margin-bottom: 30px;
		}
	}
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: #EDBC55;
}

/* Overwriting styles for the navigation dots (to place it where we want)
* --------------------------------------- */
.fp-slidesNav.bottom{
	bottom: 25px;
}

#section2 {
	// display: none;
	position: relative;
}

.show-mobile {
	display: none;
}

.fixed-hiw-content {
	color: #fff;
	position: absolute ;
	top: 0;
	z-index: 999999999999;
	margin-top: 80px;
	left: 0;
	right: 0;

	p {
		font-size: 24px;
		text-transform: uppercase;

		span {
			font-size: 14px;
			display: block;
			margin-top: 10px;
			text-transform: none;
			color: #EDBC55;
		}
	}
}

.full-bg-modal {
    width: 90%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    z-index: 999999999999;
    display: none;
    overflow: scroll;
}

.form-div {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	padding: 100px 20px;

	label {
		font-weight: 300;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		color: #3f3f3f;
	}

	.form-check {
		margin-bottom: 10px;
		label {
			display: inline-block;
			margin-left: 5px;

			i {
				color:#F5A623;
				margin-right: 3px;
				font-size: 16px;
			}
		}
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		color: #3f3f3f;
		font-size: 24px;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		margin-bottom: 50px;
	}

	img {
		margin-bottom: 50px;
	}

	.form-wrap {
		margin-bottom: 30px;

		&.form-error {
			input[type="text"],input[type="tel"], input[type="email"] {
				border: 1px solid red;
			}

			label {
				color: red;
			}

			span {
				display: block;
				color: red;
				margin-top: 5px;
			}
		}
	}

	button {
		background: #3f3f3f;
		color: #fff;
		display: block;
		max-width: 250px;
		border-radius: 3px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		padding: 15px;
		box-shadow: none;
		border: none;
		outline: none;
		margin: 0 auto;
	}
}

.close-mod {
	position:absolute;
	right: 3%;
	top: 3%;
}

.success-message {
	text-align: center;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;

	img {
		margin-bottom: 20px !important;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
		margin-top: 20px;
		margin-bottom: 40px;
	}


}

input[type="text"],input[type="tel"], input[type="email"] {
	width: 100%;
	border: 1px solid #3f3f3f;
	border-radius: 3px;
	height: 45px;
	font-size: 16px;
	color: #3f3f3f;
	padding: 10px 15px;
	// line-height: 45px;

	&:focus {
		outline: none;
		border: 1px solid #000;
	}
}

.select2-container--default .select2-selection--single {
	border: 1px solid #3f3f3f;
	height: 45px;
	line-height: 45px;
	border-radius: 3px;
} 

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 45px;
}

textarea {
	border: 1px solid #3f3f3f;
	min-height: 100px;
	width: 100%;
	padding: 15px;
	border-radius: 3px;

	&:focus {
		outline: none;
	}
}

.fp-slidesNav {
	display:  none;
}

.contact-ctn {
	border-radius: 3px;
	padding: 0 20px;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;

	a {
		text-decoration: none;
		color: #fff !important;
	}
}

.left-side {
	width: 50%;
	float: left;
	background: #fff;
	padding: 100px 50px;

	text-align: left;

	h2 {
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 500;
		margin-top: 0;
		color: #3f3f3f;
		margin-bottom: 20px;
	}

	p {
		font-size: 18px;
		font-weight: 300;
		color: #3f3f3f;
	}
}

.right-side {
	float: right;
	width: 50%;
	background: #EDBC55;
	padding: 100px 50px;
	text-align: left;

	img {
		float: left;
		margin-top: 10px;
		margin-right: 15px;
	}

	.telphone {
		margin-bottom: 20px;
	}

	p {
		color: #fff;
		font-weight: 300;
		float: left;
		font-size: 18px;

		span {
			font-size: 24px;
			display: block;
			margin-top: 5px;
			font-weight: 500;
		}
	}
}


.contact-ctn {
	// max-width: 960px;
	// margin: 0 auto;
	// width: 100%;
}



@media screen and (max-width: 600px) {
	.jumbotext {
		
		h1 {
			font-size: 40px;
		}

		// top: 40%;
		// transform: translateY(-40%);

		span {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	.links {
		a {
			margin-right:0;
			padding: 0 10px;
		}
	}

	.fp-slidesNav {
		display: block;
	}

	// #section1 {
	// 	display: none;
	// }

	// #section2 {
	// 	display: block;
	// }

	.show-desktop {
		display: none;
	}

	.show-mobile {
		display: block;
	}

	.form-div {
		padding: 30px 20px;

		img {
			margin-bottom: 30px;
		}

		h1 {
			font-size: 18px;
			font-weight: 500;
		}
	}

	.left-side {
		width: 100%;
		text-align: center;
		padding: 40px 30px;

		h2 {
			font-size: 24px;
		}

		p {
			font-size: 16px;
		}
	}

	.right-side {
		width: 100%;
		text-align: center;
		padding: 30px 30px;

		img {
			float: none;
			margin-top: 10px;
			margin-right: 15px;
			margin-bottom: 20px;
		}

		.telphone {
			margin-bottom: 10px;
		}

		p {
			font-size: 16px;
			display: block;
			float: none;


			span {
				font-size: 20px;
				
			}
		}
	}

	.full-bg-modal {
    	width: 100%;
    }

}

@media screen and (max-width: 480px) {
	.jumbotext {
		
		h1 {
			font-size: 32px;
			line-height:1.5;
		}
	}

	.left-side {
		padding: 30px 30px;

		p {
		    font-size: 14px;
		}
	}

	.right-side {
		padding: 20px 30px;
		p {
			font-size: 14px;

			span {
				font-size: 18px;
			}
		}
		img {
			margin-bottom: 8px;
		}
	}

}
 






















